/* light grey colour #C8D5B9 */

html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #C8D5B9;
}

header {
    background-image: linear-gradient(rgba(200, 213, 185, 0.514), rgba(200, 213, 185, 0.514)), url(resources/css/img/headerimage.jpg);
    height: 100vh;
    background-position: 25%;
    background-size: cover;
}

.mainHeader {
    color: #2D3142;
    font-size: 40px;
}

.diaryHeader {
    color: #586F7C;
}

.postHeader {
    color: rgb(72, 108, 129);
}

p {
    color: #333333;
}

.link {
    color: #C33149;
}