body {
    background: #910479;
}

.mainHeader {
    color: tomato;
}

.sectionHeader {
    color: rgb(57, 86, 252);
    font-size: 60px;
}

.diaryHeader {
    color: rgb(21, 248, 59);
}

p {
    color: rgb(21, 248, 59);
}

#dziennik {
    background: chocolate !important;
}